[Unit]
Description = Nvidia HDMI Hotplug handler


[Service]
Type=simple
RemainAfterExit=no
Environment="DISPLAY=:0"
Environment= "XAUTHORITY=/run/user/1000/gdm/Xauthority"
ExecStart=/opt/nvidia_hotplugged/nvidia_hotplugged.py

[Install]
WantedBy=graphical.target